<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Actualizar Perro</title>
</head>
<body>
    <h1>Actualizar Perro</h1>
    <form id="updateForm">
        <input type="hidden" name="id" value="<%= perro._id %>">
        <label for="nombre">nombre:</label>
        <input type="text" id="nombre" name="nombre" value="<%= perro.nombre %>">
        <br>
        <label for="edad">edad:</label>
        <input type="text" id="edad" name="edad" value="<%= perro.edad %>">
        <br>
        <label for="raza">raza:</label>
        <input type="text" id="raza" name="raza" value="<%= perro.raza %>">
        <br>
        <label for="color">color:</label>
        <input type="text" id="color" name="color" value="<%= perro.color %>">
        <br>
        <button type="submit">Actualizar</button>
    </form>

    <script>
        document.getElementById('updateForm').addEventListener('submit', function(event) {
            event.preventDefault();
            const id = document.querySelector('input[name="id"]').value;
            const nombre = document.querySelector('input[name="nombre"]').value;
            const edad = document.querySelector('input[name="edad"]').value;
            const raza = document.querySelector('input[name="raza"]').value;
            const color = document.querySelector('input[name="color"]').value;


            fetch(`/items/${id}`, {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ nombre, edad, raza, color})
            })
            .then(response => {
                if (response.ok) {
                    window.location.href = '/index1.html';
                } else {
                    alert('Error al actualizar el perro');
                }
            })
            .catch(error => {
                console.error('Error:', error);
                alert('Error al actualizar el perro');
            });
        });
    </script>
</body>
</html>